.product-image-container {
    position: relative;
}
.product-image {
    position: relative;
}

.products-list li.item {
    position: relative;
}

.featured {
    border-radius: 15px;
    color: white;
    padding: 15px;
    background: #0089d0;
    position: absolute;
    top: -18px;
    left: -18px;
    overflow: visible;
    /* so we can see the pseudo-elements we're going to add to the anchor */
    font-size: 18px;
    /* font-size and line-height must be equal so we can account for the height of the banner */
    line-height: 18px;
    z-index: 1;
}

.products-grid .featured {
    padding: 10px;
    top: -7px;
    left: -10px;
    font-size: 15px;
}

.product-view .featured {
    padding: 20px;
    top: -15px;
    left: inherit;
    right: -15px;
    font-size: 26px;
}

.product-image {
    position: relative;
    overflow: hidden;
}

.discount-banner {
    width: 200px;
    background: #e43;
    position: absolute;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;

    top: 10px;
    right: -70px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);

    font-size: 1.5em;

    box-shadow: 0 0 3px rgba(0,0,0,.3);
}